:root {
  --bg: repeating-linear-gradient(90deg, rgba(227,227,227, 0.08) 0px, rgba(227,227,227, 0.08) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, rgba(227,227,227, 0.08) 0px, rgba(227,227,227, 0.08) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, rgba(227,227,227, 0.08) 0px, rgba(227,227,227, 0.08) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(90deg, rgba(227,227,227, 0.08) 0px, rgba(227,227,227, 0.08) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(33,104,106),rgb(33,104,106));
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;

  background: var(--bg);
}
