/* laptop */
@media only screen and (max-width : 1200px) {}

/* tablet */
@media only screen and (max-width : 768px) {}

/* mobile - large */
@media only screen and (max-width : 480px) {
    :root {
        --tool-box-size: 10vw;
        
        --slider-thumb-size: 4vw;
    }

    body {
        align-items: flex-start;
    }

    .sketch-area {
        margin-top: 1vh;
        width: 95vw;
    }

    .sketch-trays {
        flex-wrap: wrap;

        gap: 1vh;
    }
}

/* mobile - small */
@media only screen and (max-width : 320px) {}