/* laptop */
@media only screen and (max-width : 1200px) {}

/* tablet */
@media only screen and (max-width : 768px) {}

/* mobile - large */
@media only screen and (max-width : 480px) {
    :root {
        --tool-box-size: 10vw;
        
        --slider-thumb-size: 4vw;
    }

    body {
        align-items: flex-start;
    }

    .sketch-area {
        margin-top: 1vh;
        width: 95vw;
    }

    .sketch-trays {
        flex-wrap: wrap;

        gap: 1vh;
    }
}


/* TODO: */

/* mobile - small */
@media only screen and (max-width : 320px) {}

/* mobile - landscape large */
@media only screen and (max-width : 812px) and (max-height: 768px) {}

/* mobile - landscape small */
@media only screen and (max-width : 667px) and (max-height: 480px) {}

/* it would be cool if landscape on mobile enlarges the canvas, or something like that. might need additional js. could also be lazy and ban landscape mobile */
